/* .list-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(20) 25%;
  grid-gap: 5px;
  align-items: center;
} */

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  }

.list-item {
  display: flex;
  border: solid 1px rgba(6, 6, 224, 0.87);
  border-radius: 20px;
  background-color: rgba(6, 6, 224, 0.87);
  text-align: start;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  height: 175px;
  color: whitesmoke;
}

.list-item:hover {
  background-color: rgba(41, 41, 224, 0.87);
  transform: scale(1.2);
  transition: 0.5s;
}

.list-item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.list-item h3 {
  margin: 10px auto;
  text-transform: capitalize;
  font-size: large;
}

.list-item div {
  display: block;
  text-transform: uppercase;
}

.crypto-data {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.rank {
  font-size: small;
  margin: 0 1px;
}

.market-cap{
  margin-top: 5px;
  margin-right: 50px;
}

.list-item .button {
  position: absolute;
  margin-top: 0;
  margin-left: 200px;
  color: red;
}

.list-item .button:hover {
  cursor: pointer;
  transform: scale(1.5);
  color: red;
}



.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}


